  <div class="row">
    <div class="step">
      <ul>
        <li><span class="num-step">1</span>提交订单
        <br>
        <em>选车型填需求</em></li>
        <li><span class="num-step">2</span>预付订金
        <br>
        <em>预付意向金到拍立行</em><span class="arrow"></span></li>
        <li><span class="num-step">3</span>4S店抢单
        <br>
        <em>查看报价明细获得凭证</em><span class="arrow"></span></li>
        <li><span class="num-step">4</span>到店看车
        <br>
        <em>线下试驾到4S店提车</em><span class="arrow"></span></li>
      </ul>
    </div>
  </div>


