<h1>Listing bids</h1>

<table>
  <thead>
    <tr>
      <th>Tender</th>
      <th>Dealer</th>
      <th>Price</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bids.each do |bid| %>
      <tr>
        <td><%= link_to (bid.tender.description || "标的"), tender_path(bid.tender) %></td>
        <td><%= bid.dealer_id %></td>
        <td><%= bid.price %></td>
        <td><%= bid.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
