<div class="row col-lg-offset-4 login-container">
  <div class="register-form">
  <h2>用户注册</h2>
  <div class="dot-line"></div>

<%= form_for(@user, url: register_users_path, :html => {:class => 'form-inline' }) do |f| %>
  <% if @user.errors.any? %>
    <div class="form-group">

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <% flash[:error] = message%>
      <% end %>
      </ul>
  <% end %>

  <div class="row col-lg-offset-2">
  <div class="list-inline h4">
    <%= f.label :phone, '手机'  %>
<small>务必用有效手机号注册，密码将短信发到注册手机</small>

</div>
  <p>
  <%= f.telephone_field :phone, autofocus: true %>

  <div class="submit_f"><%= f.submit "提交注册" %></div>
</div>
<% end %>
</div>
</div>
</div>
