  <div class="row">
  <div class="col-lg-offset-4 col-lg-1 col-sm-18 qrcode-padding">
  <%= image_tag home_download_path(format: :png) , :size => '180x180' %>
  </div>
  <div class="col-lg-offset-1 col-lg-6 col-sm-6">
    <a href="/pailixing.apk"><button type="button" class="dlbutton">Andriod版 下载</button></a>
  <p class="dlhigh">
  <div class="col-lg-12 col-sm-6">
  <button type="button" class="iosbutton">iOS版 (审核中)</button>
  </div>
  </div>
  </div>
</div>
