<div class="mobile-app alert alert alert-dismissible fade in">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div class="row">
      <div class="col-xs-2 col-sm-1 col-md-1">
    <%= image_tag 'plx-app-logo.png', :size => '60x60' %>   </div>
      <div class="col-xs-3">
        <span class="app-dl-desc">注册即送<br><span class="app-price-num">500</span>代金券</span>
</div>

      <div class="col-xs-5 pull-right">
    <a href="/pailixing.apk">App下载</a>
</div>
</div>
</div>


