<div class="row">
  <div class="col-lg-offset-4 col-xs-offset-2 col-sm-offset-3 col-sm-3 col-md-offset-3 col-md-3 col-xs-10 col-lg-2 qrcode-padding">
    <%= image_tag 'weixin.jpg' , :size => '180x180' %>
  </div>
  <div class="col-lg-6 col-xs-12 col-sm-6 col-md-6">
    <ul>
    <li class="dl">
    <button type="button" class="dlbutton">智能选车</button></a>
    </li>
    <li class="dl">
    <button type="button" class="iosbutton">速查车评</button>
    </li>
</ul>
</div>
</div>
