<div class="jumbotron weird-footer">
  <div class="col-lg-offset-1 col-lg-8">
  <h4 class="color-title">关于拍立行</h4>
  <h5>拍立行是国内首家以反向定价模式来帮助买家得到市场低价的汽车销售O2O平台,拍立行致力于服务买家，让买家可以以更有效更快捷更便宜的方式来买到自己心仪的爱车.同时，拍立行也帮助卖家更快更准得卖给有订车意向的买家。</h5>
  <h5>拍立行隶属于上海紫薯软件技术有限公司,公司成立于2014年9月18日.产品beta版上线于2014年12月20日.</h5>
</div>

<div class="col-lg-offset-1 col-lg-8">
  <h4 class="color-title">联系我们</h4>
  <h5>邮箱: <small>auto2o@outlook.com</small></h5>
  <h5>新浪微博: <small><%= link_to "weibo.com/pailixing", "http://weibo.com/pailixing" %></small></h5>
  <h5>腾讯微博: <small><%= link_to "weibo.qq.com/pailixing", "http://qq.weibo.com/pailixing" %></small></h5>
</div>


