<div class="col-lg-offset-2 col-lg-7 qanda">
<h3> 常见问题 </h3>
<div class="dot-line"></div>
  <ul>
        <li><a href="javascript:;" class="h4 "><strong>Q:</strong> 为什么要预先支付订金到拍立行？</a>
    <div class="answer clearfix">
      <p>
      A: 预先支付订金后，销售顾问才会认为您是一个有买车意愿的真实客户，才愿意去和其他商家竞争报出更低的真实成交价。 如果您是参与闪购买车，预付订金后，4S店会为您预留一辆现车，不会再卖给其它人，这样保证您到店买车可以提到现车。</p>
    </div>
    </li>
    <li><a href="javascript:;" class="h4"><strong>Q:</strong> 支付订金后如何退款？</a>
    <div class="answer clearfix">
      <p>
      A: 您在买车过程中的任何阶段都可以终止交易退还订金，如没有满意的底价，选择底价到店看车不满意，订单过期或者底价凭证过期，系统都会即刻退还您支付的订金。</p>
    </div>
    </li>
    <li><a href="javascript:;" class="h4"><strong>Q:</strong> 订金可以在买车的时候直接抵用部分购车款吗？</a>
    <div class="answer clearfix">
      <p>
      A: 是的，在4S店买车时可以将预付的订金付给指定的商家，抵用部分的购车款。</p>
    </div>
    </li>
    <li><a href="javascript:;" class="h4"><strong>Q:</strong> 如何使用订金买车？</a>
    <div class="answer clearfix">
      <p>
      A: 您持底价凭证到店看车满意决定买车了，可以使用拍立行手机应用，找到对应的订单选择给4S店销售扫描你的底价凭证二维码，并通过手机安全验证，可将订金支付到4S店。<br>
      请务必在支付前与销售顾问了解全部买车细节，确认无误后再付款。一旦付款完成，只能与4S店协商退款事宜。</p>
    </div>
    </li>
    <li><a href="javascript:;" class="h4"><strong>Q:</strong> 买车时如何使用底价凭证？</a>
    <div class="answer clearfix">
      <p>
      A: 底价凭证详细列出了购买车型的裸车价、库存情况、置换补贴、附加条件、补充说明以及预估的税费及保险，帮助您做到进店心中有数。<br>
      您选择一个满意低价后，拍立行为您生成底价凭证，可以发送到手机或直接打印出来随身携带。</p>
    </div>
    </li>
  </ul>
</div>

