<div class="big-pic hidden-xs">
</div>



<div class="jumbotron">
  <h2 class="text-center moveuph2">重塑你的购车体验</h2>
</div>

<%= render 'weixin_app' %>

<div class="row inc-top1">
  <div class="col-lg-offset-1 col-md-12 col-lg-6 col-sm-6">
    <%= image_tag "name-my-price.png", :size => '650x450' , :class => 'price-pic' %>
    </div>
    <ul>
      <li>
    <div class="media-body col-lg-4">
      <h3 class="media-heading color-title-orange">在线比价</h3>
      <p class="media-desc">不用再东奔西走挨家砍价了，足不出户即可获得多家4S店报价. </p>
    </div>
    </li>
      <li>
    <div class="media-body col-lg-4">
      <h3 class="media-heading color-title-orange">在线还价</h3>
      <p class="media-desc">你可以在经销商的报价基础上砍价还价，全城正规4S店的销售实时参与抢单. </p>
    </div>
    </li>
      <li>
    <div class="media-body col-lg-4">
      <h3 class="media-heading color-title-orange">底价触手可及</h3>
      <p class="media-desc">底价第一次真正意义上的触手可及.从容得在手机上点击几下就可以帮你省到几千或上万元.绝对不花冤枉钱. </p>
    </div>
    </li>


  </ul>
  </div>

<div class="row inc-top1">
  <ul class="col-lg-offset-2 col-xs-offset-1 col-lg-4">
    <li>
   <div class="media-body">
      <h3 class="media-heading color-title-green">成交数据，成交价格一目了然</h3>
      <p class="media-desc">拍立行通过大数据收集，告诉你其他车友最近的真实成交价，确保你的最终成交价是非常有优势的.</p>
    </div>
    </li>
    <li>
   <div class="media-body">
      <h3 class="media-heading color-title-green">底价保证,心里不愁</h3>
      <p class="media-desc">拍立行上的底价低于市场优惠价和平均成交价.在到店之前得到拍立行认证4S店的底价信息，做到心里有数，货比三家.</p>
    </div>
    </li>
  </ul>

    <div class="media-right">
      <%= image_tag "plx-price-correct2.png", :size => '640x440' %>
    </div>

  </div>

<div class="row inc-top1">
  <div class="col-lg-offset-2 col-lg-4">
      <%= image_tag "price-detail.png", :size => '370x680' %>
    </div>
    <ul class="col-xs-offset-1" >
      <li>
    <div class="media-body">
      <h3 class="media-heading last-heading color-title-pink">保价明细详细清楚,杜绝隐性收费</h3>
      <p class="media-desc">所有收费明细全部一目了然，让你到店购车没有意外，没有额外收费</p>
    </div>
    </li>
      <li>
    <div class="media-body">
      <h3 class="media-heading last-heading color-title-pink">价格透明,放心购车</h3>
      <p class="media-desc">我们相信汽车价格越透明，购车越放心越方便,购车体验也越舒心.</p>
    </div>
    </li>

  </ul>
  </div>














