<div class="row-fluid">
  <div class="col-lg-2">
    

  </div>
<div class="col-lg-8">
<div class="row">
<div class="col-lg-1 first-title">
<%= image_tag 'submit.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">
<h2 class="flow-title first-title">
提交订单
</h2>
<p>
选择中意车型、颜色，明确购车时间，向惠买车提交买车需求。
提交订单时您需要一个惠买车账号来接收和管理底价，如果已经是惠买车用户可以直接登录。
未经得您本人许可，您的电话不会向任何人公开。
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'order.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">
<h2 class="flow-title">
  支付订金
</h2>
<p>
支付订金后，销售顾问才开始为您报底价。
订金先支付到惠买车，不买车时可随时退还，买车时可直接抵用购车款。
提交订单后，您需要在24小时内完成支付，超过订单将会作废
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'choose.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">

<h2 class="flow-title">
选择底价
</h2>
<p>
支付订金后会陆续收到4S店销售顾问发来的底价，选择最满意的一家，获得底价凭证。
底价凭证是您到店买车的价格依据，惠买车合作4S店将承诺为您提供不高于凭证底价的价格买车。
凭证有固定的有效期，是您提交购车需求时指定的“计划买车时间”，凭证过期即失效。
一次只能选择一家最满意的4S店去买车，若看车不满意可以在有效期内重新选择一家。
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'pay.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">


<h2 class="flow-title">
  看车付款
</h2>
<p>
获得满意底价后，请持底价凭证到店看车试驾。
如果对4S店服务满意决定付款买车，可将预付到惠买车的订金付给4S店，直接抵用部分购车款。
请务必到店与销售顾问就购车价格及相关花费完全达成一致后再选择付款
</p>
</div>
</div>
</div>
</div>
