<div class="row-fluid">
  <div class="col-lg-2">
    

  </div>
<div class="col-lg-8">
<div class="row">
<div class="col-lg-1 first-title">
<%= image_tag 'submit.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">
<h2 class="flow-title first-title">
提交订单
</h2>
<p>
选择中意车型、颜色、明确购车时间、提交买车需求, 和您的心理成交价。
合理设定你的一口价会更快捷得和销售达成交易。
提交订单时您用手机号注册, 但是在成交达成之前, 您的电话不会向销售员公开。
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'order.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">
<h2 class="flow-title">
支付订金
</h2>
<p>
支付小额意向订金后，销售顾问会实时收到你的保价。
订金先支付到拍立行平台，不买车时可随时退还，买车时可直接抵用购车款。
提交订单后，您需要在24小时内完成支付，超过订单将会作废
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'gogogo.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">

<h2 class="flow-title">
销售抢单
</h2>
<p>
全城4S店销售顾问实时收到你的还价消息，你选择的所有4S店的销售员们可参与到抢单中来，先抢先得。
抢单成功后，您将锁定此价格优惠, 得到底价凭证。此凭证是您前往4S店购车时可获得此一口价的消费凭证。拍立行合作的4S店将承诺为您提供不高于凭证底价的价格买车。
凭证有固定的有效期，凭证过期即失效。如果你的购车计划有变,你可以重新提交你的订单
</p>
</div>
</div>

<div class="row">
<div class="col-lg-1 flow-title">
<%= image_tag 'pay.png', :size => '60x60'  %>
</div>
<div class="col-lg-10">


<h2 class="flow-title">
看车付款
</h2>
<p>
获得满意底价后，请持底价凭证到店看车试驾。
如果对4S店服务满意决定付款买车，可将预付到拍立行的意向订金通过确认流程支付给4S店，直接用来抵用部分购车款。
请务必到店与销售顾问就购车价格及相关花费完全达成一致后再选择确定付款
</p>
</div>
</div>
</div>
</div>
