<div class="jumbotron weird-footer">
  <div class="col-lg-offset-1 col-lg-8">
  <h4 class="color-title">加入拍立行</h4>
  <h5>拍立行团队是一帮年轻有激情有理想的小伙伴。在公开、轻松、有趣的办公文化氛围中一起努力为你打造更好更有效的购车体验。拍立行买车app只是我们所有努力的一个很重要的开始。之后还有更有趣更好玩更能牢牢抓住我们车友的喜欢汽车的情愫的重磅产品出现。请敬请期待。</h5>
  <h5>如果你是爱车之士，有激情有理想的小伙伴，对我们的愿景有认同，欢迎和我们联系。</h5>
</div>

<div class="col-lg-offset-1 col-lg-8">
  <h4 class="color-title">联系我们</h4>                                     <h5>邮箱: <small>auto2o@outlook.com</small></h5>
  <h5>新浪微博: <small><%= link_to "weibo.com/pailixing", "http://weibo.com/pailixing" %></small></h5>
  <h5>腾讯微博: <small><%= link_to "weibo.qq.com/pailixing", "http://qq.weibo.com/pailixing" %></small></h5>
</div>
</div>

