/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  background-color: #111;
}


.navbar.navbar-default.navbar-static-top {
  background-color:#111;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
  color: white;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: black;
  background-color: transparent;
} 


ul.nav.navbar-nav > li > img {
  margin-top: 15px;
  margin-right: -1px;
}

ul.nav.navbar-nav > li > a, a:link, a:hover, a:visited {
  text-decoration: none;
  margin-right: -1px;
  background-color: transparent;
}

.wrapper {
  min-height: 100%;
  background-color: white;
}

.container-fluid {
  background-color: white;
}


.footer_head {
  font-size:18px;
  margin-bottom: 10px;
}

.footer_line {
  margin-top: 35px;
 }



/*ul {
   list-style: none; 
}

ul li {
  text-align: left; 
}
*/

.foot_imag {
  position: absolute;
  left:0;
}

.footer_line ul li{
  float: right;
  margin-right: 5px;
  margin-left: 5px;
 }

 footer a, a:link, a:hover, a:visited {
   color: #666;
}

.footer_row {
  position:relative;
}


footer
{
  text-align: center;
  position: relative;
  margin-top: 180px; /* negative value of footer height */
  height: 330px;
  clear:both;
  padding-top:20px;
  color: #bbb;
  background-color: #333;
}

footer a:link, a:visited {
  color: #b7b7b7;

}



form input[type=submit] {
  width:280px;
  display:inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size:12px;
  text-decoration:none;
  color:#eee;
  position:relative;
  margin-top:position40px;
  padding-bottom:10px;
  padding-top:10px;
  border-radius: none;
  border: 1px;
}



.navbar-default .container .navbar-nav>li>a:hover {
  color: gray;
}

media-body {
  width: 100%;
}

