/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.container {
  background-color: #333;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand  {
  color: white;
  background-color: #333;
}

ul.nav.navbar-nav > li > img {
    margin-top: 15px;
    margin-right: -1px;
}


a, a:link, a:visited {
  text-decoration: none;
}

.wrapper {
min-height: 100%;
}

footer
{
text-align: center;
position: relative;
margin-top: 180px; /* negative value of footer height */
height: 80px;
clear:both;
padding-top:20px;
color: white;
background-color: #bfbfbf;
}

form input[type=submit] {
    width:280px;
    display:inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size:12px;
    text-decoration:none;
    color:#eee;
    position:relative;
    margin-top:position40px;
    padding-bottom:10px;
    padding-top:10px;
    border-radius: none;
    border: 1px;
}

a.button, a:link.button, a:visited.button, input[type=submit] {
  border-radius: 0px;
  color: #fff;
}

.footer-padding {
 padding-bottom: 30px;
}

