// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h5 {
    line-height: 20px;
}

.color-title {
  height:26px;
  padding:2px 10px;
  overflow:hidden;
  margin:25px 0 25px;
  border-left:solid 5px #ff7800
}

.jumbotron {
  background-color: #fff;
}

.navbar {
  background-color: #333;
  margin-bottom: 0px;

}

.navbar-static-top {
 border-width: 0px;
}

.nav-list {
 color: white;
}

ul.nav-list {
    margin-left: 50px;
 font-size: 14px;

}

ul.nav-list.pull-right {
margin-right: 50px;

}

.nav-list > li {
    margin-top: 15px;
}

.form-control.choose-model{
    width: 180px;
}
.nav-list > li > a, a:link, a:visited, a:hover {
 color: white;
}




.big-pic {
  background: image-url('new-bg-pic.png') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 720px;
  width: 100%;
}

.col-sm-12 {
  padding-bottom: 35px;
}


.qrcode-padding {
 padding-bottom: 30px;
}

.col-lg-9 {
  padding-left: 0px;
}

.col-lg-12 {
  margin-top: -4px;
  padding-left: 0px;
  padding-right: 0px;
}

.htitle {
 margin-top: 50px;
 color: #666666;
}

.moveuph2 {
 margin-top: -10px;
 color: #666666;
}


.inc-top1 {
  margin-top: 150px;
}

.inc-top2 {
  margin-top: 100px;
  padding-bottom: 30px;

}

.flow-title{
 margin-top: 30px;
margin-bottom: 30px;
}

.weird-footer {
min-height: 480px;
}

.first-title {
margin-top: 90px;
}

.centerlogin {
  margin-top: 50px;
}

.inputback {
  margin-top: 150px;
  height: 350px;
  background-color: #eee;
  margin-left: 33%;
  margin-right: 33%;
}

.high-slogon {
 height: 60px;
 #background-color: #46b8da;
 background-color: buttonface;
 text-align: center;
 color: white;
}

.slimbox {
  margin-top: 30px;
}

.slimbox2 {
  margin-top: 12px;
}

.graytext {
  color: #888;
}

.dlbutton {
    background-color: #ACD26D;
    border-color: #fff;
    height: 50px;
    width: 170px;
    border-bottom-color: #fff;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    text-shadow:0px 0px 0px rgba(0,0,0,0.3);
    color: white;
     border-right-style:none;
     border-bottom-style:none;
     border-left-style:none;
     border-top-style:none;
}

.iosbutton {
    background-color: #70CBE8;
    border-color: #fff;
    height: 50px;
    width: 170px;
    border-bottom-color: #fff;
    box-shadow:0px 0px 0px rgba(0,0,0,0.2);
    text-shadow:0px 0px 0px rgba(0,0,0,0.3);
    color: white;
     border-right-style:none;
     border-bottom-style:none;
border-left-style:none;
     border-top-style:none;

}

.dlhigh {
    margin-top: 80px;
    margin-bottom: 80px;
}

.grayit {
    margin-top: -20px;
    background-color: #eee;
}

div.smallimage {
    margin-top: 50px;
}
