// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.jumbotron {
  background-color: #fff;
}

.navbar {
  background-color: #333;
  margin-bottom: 0px;

}

.navbar-static-top {
 border-width: 0px;
}

.bigpic {
  width: 100%;
}

.col-lg-9 {
  padding-left: 0px;
}

.col-lg-12 {
  margin-top: -4px;
  padding-left: 0px;
  padding-right: 0px;
}

.htitle {
 margin-top: 0px;
}

.moveuph2 {
 margin-top: -14px;
}

.inc-top1 {
  margin-top: 50px;
}

.inc-top2 {
  margin-top: 100px;
}

.flow-title{
 margin-top: 30px;
margin-bottom: 30px;
}

.weird-footer {
min-height: 480px;
}

.first-title {
margin-top: 90px;
}

.centerlogin {
  margin-top: 50px;
}

.inputback {
  margin-top: 150px;
  height: 350px;
  background-color: #eee;
  margin-left: 33%;
  margin-right: 33%;
}

.high-slogon {
 height: 60px;
 #background-color: #46b8da;
 background-color: buttonface;
 text-align: center;
 color: white;
}

.slimbox {
  margin-top: 30px;
}

.slimbox2 {
  margin-top: 12px;
}

.graytext {
  color: #888;
}


