// Place all the styles related to the tenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.car-container {
      border: 1px solid #e1e1e1;
      background: #FFFFFF;
      -webkit-box-shadow: 0 0 5px #ebe9e9;
      box-shadow: 0 0 5px #ebe9e9;
      margin-top: 20px;
      margin-left: 150px;
      margin-right: 150px;
      padding: 0 30px;
      height: 950px;
      font: normal 14px "Microsoft yahei";
}

.price_tag {
    color: #F27020 ;
}

.div_fix_buy {
    margin-top: 15px;
    margin-bottom: 20px;

}

.div_fix_buy.first_element{
    margin-top: 0px;
    margin-bottom: 15px;

}

.margin0 {
margin-left:0px;
padding-left: 0px;
}

.form-control.carinput {
    width: 80%;
}

ul.start-choose {
    margin-left: 33%;
    padding-top: 42%;


}

ul.start-choose li{
 margin-right: 15px;
 padding-top: 15px;
 padding-bottom: 10px;

}


input.submit_button {
border-radius: 5px;
  display: inline-block;
width: 120px;
height: 35px;
  font-weight: bold;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 12px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF838A90', endColorstr='#FF414549');
  text-shadow: black 0 1px 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0px rgba(255, 255, 255, 0.2) inset;
  border: solid 2px white;
  border-color: white;
  color: white;
  font-size: 16px;
}

span.current {
  font-weight: bold;
  border: 3px solid #f69006;
  height: 38px;
  line-height: 34px;
  width: 94px;
}

div.currentcolor {
     border: 2px solid #f69006;
     width: 33px;
     height: 33px;
     line-height: 35px;
     text-align: center;
     color: #777;
     cursor: pointer;
     padding: -2px -2px -2px -2px;
}



.choose_color {
     border: 0px solid #cccccc;
     background: #fbfcff;
     line-height: 20px;
     text-align: center;
     color: #777;
     cursor: pointer;
     margin-right: 15px;
    width:30px;
    height:30px;
}

.choose {
     float: left;
     width: 94px;
     height: 38px;
     border: 1px solid #cccccc;
     background: #fbfcff;
     line-height: 38px;
     text-align: center;
     color: #777;
     cursor: pointer;
     margin-right: 15px;
     overflow: hidden;
    font-size:12px;

}




ul.list-inline li {
 line-height: 30px;
}


.car-container.title{

}

.car-container .col-lg-7 {
margin-left: 40px;
}                    

price-input {
 size: 50px;
 font-size: 12px;
}

.desc{
color: #777;
font-size: 12px;

}

.color-button {
 margin-top: 20px;
 background: #F27020; 
 color: white;
 width: 180px;
 height: 40px;
}

.step {
  clear: both;
  overflow: hidden;
  padding-bottom: 50px;
  margin-left: -15px;
  margin-right: -15px;
}
.step ul {
  height: 70px;
  background: #f5f5f5;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.step li {
  float: left;
  position: relative;
  padding: 16px 0;
  padding-left: 65px;
  margin-right: 60px;
  width: 200px;
  font: bold 14px "Microsoft yahei";
}
.step li em {
  font: normal 12px "Microsoft yahei";
    }
    .step li .num-step {
  position: absolute;
  margin: 5px 10px 0 -44px;
  width: 32px;
  height: 32px;
  line-height: 26px;
  text-align: center;
  color: #F27020;
  font: normal 23px "Microsoft yahei";
  background: url(../images/icon-chey.png?v=20141204) -120px -420px no-repeat;
}
.step li .arrow {
  position: absolute;
  left: 0;
  top: 25px;
  display: block;
  width: 12px;
  height: 24px;
  background: url(../images/icon-chey.png?v=20141204) -40px -520px no-repeat;
}

.step li:first-child {
  padding-left: 112px;
}

.right-col {
}
.dot-line {
    margin-top: 20px;
    margin-bottom: 20px;
   height:1px;
   padding:0px;
   background-color:#e5e5e5;
}

.car-info {
    position: relative;
    margin: 0 -30;
    font-size:14px;

}


